body {
    background-color: black;
    color: azure;
}

.center {
    margin-left: 38%;
    margin-top: 8%;
}

.btn {
    margin: 10px;
    width: 100px;
    height: 100px;
}

#disabled {
    cursor: not-allowed;
}

#turn {
    margin-top: 50px;
    text-align: center;
}